@inject LMOpcuaConnector.Model.OPCUAClient opc

<style>
</style>

<div ondblclick="@ToggleBool" style="cursor:pointer">
    @((errorMex == "") ? "Cliccami" : errorMex)
</div>

@functions{
    [Parameter] bool DisplayTagName { get; set; }
    [Parameter] string TagName { get; set; }
    string errorMex = "";

    protected override void OnInit()
    {
        opc.OnTagChange += TagChanged;
        opc.OnConnectionStatusChange += StatusChanged;
    }

    private void TagChanged(object sender, LMOpcuaConnector.Data.Tag tag)
    {
        if (tag.Name == TagName)
        {
            Invoke(() =>
            {
                StateHasChanged();
            });
        }
    }

    private void StatusChanged(object sender, bool status)
    {
        Invoke(() =>
        {
            StateHasChanged();
        });
    }

    private void ToggleBool()
    {
        try
        {
            bool currentValue = (bool)opc.ListOfTags.GetTagByName(TagName)?.Value;
            opc.WriteTag("Contapezzi", !currentValue);
        }
        catch (Exception ex)
        {
            showError(ex.Message);
        }
    }

    private async void showError(string error)
    {
        errorMex = error;
        await Task.Run(() => { Task.Delay(3000).Wait(); });
        errorMex = "";
        StateHasChanged();
    }
}
