@inject LMOpcuaConnector.Model.OPCUAClient opc

<style>
</style>

<div ondblclick="@ToggleBool" style="cursor:pointer">
    cliccami
</div>

@functions{
    [Parameter] bool DisplayTagName { get; set; }
    [Parameter] string TagName { get; set; }

    protected override void OnInit()
    {
        opc.OnTagChange += TagChanged;
        opc.OnConnectionStatusChange += StatusChanged;
    }

    private void TagChanged(object sender, LMOpcuaConnector.Data.Tag tag)
    {
        if (tag.Name == TagName)
        {
            Invoke(() =>
            {
                StateHasChanged();
            });
        }
    }

    private void StatusChanged(object sender, bool status)
    {
        Invoke(() =>
        {
            StateHasChanged();
        });
    }

    private void ToggleBool()
    {
        try
        {
            bool currentValue = (bool)opc.ListOfTags.GetTagByName(TagName)?.Value;
            opc.WriteTag("Contapezzi", !currentValue);
        }
        catch (Exception ex)
        {
            throw new NotImplementedException("Impossible eseguire l'operazione.");
        }
        

    }
}
