@inject LMOpcuaConnector.Model.OPCUAClient opc

<style>
</style>

<div @ondblclick=@ToggleBool style="cursor:pointer">
    @((errorMex == "") ? "Cliccami" : errorMex)
</div>

@if (errorMex != "")
{
    <div class="modal lang-modal" tabindex="-1" role="dialog" style="display:block; background: #0e100f87;">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-language">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @errorMex
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" @onclick="@(()=> { errorMex = ""; })">Close</button>
                </div>
            </div>
        </div>
    </div>
}


@functions{
    [Parameter] bool DisplayTagName { get; set; }
    [Parameter] string TagName { get; set; }
    string errorMex = "";

    protected override void OnInit()
    {
        opc.OnTagChange += TagChanged;
        opc.OnConnectionStatusChange += StatusChanged;
    }

    private void TagChanged(object sender, LMOpcuaConnector.Data.Tag tag)
    {
        if (tag.Name == TagName)
        {
            Invoke(() =>
            {
                StateHasChanged();
            });
        }
    }

    private void StatusChanged(object sender, bool status)
    {
        Invoke(() =>
        {
            StateHasChanged();
        });
    }

    private void ToggleBool()
    {
        try
        {
            bool currentValue = (bool)opc.ListOfTags.GetTagByName(TagName)?.Value;
            opc.WriteTag("Contapezzi", !currentValue);
        }
        catch (Exception ex)
        {
            showError(ex.Message);
        }
    }

    private async void showError(string error)
    {
        errorMex = error;
        StateHasChanged();
        await Task.Run(() => { Task.Delay(3000).Wait(); });
        errorMex = "";
        StateHasChanged();
    }
}
