@page "/"
@inject LMEmail.Model.EmailHandler email

<button class="btn btn-dark" @onclick="@Click">Click to spam and break the email, thanks!</button>

@code{
private void Click()
{
    email.SendEmailWithDefaultSettings("Someone Clicked", "My friend someone clicked that button.", false);
}
}





