@page "/"

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="mt-1">
                <TagDisplay TagName="LottoAttuale"></TagDisplay>
            </div>
            <div class="mt-1">
                <TagDisplay TagName="NumeroPezziProdottiProgramma_1" Editable="false"></TagDisplay>
            </div>
        </div>
        <div class="col-sm">
            <div class="mt-1">
                <TagDisplay TagName="LottoAttuale" Editable="true"></TagDisplay>
            </div>
            <div class="mt-1">
                <TagDisplay TagName="NumeroPezziProdottiProgramma_1" Editable="true"></TagDisplay>
            </div>
        </div>
    </div>
</div>


<OpcuaSessionControlelr />





