@page "/"


<h1>Hello, world!</h1>
<TagDisplay TagName="LottoAttuale"></TagDisplay>
<TagDisplay TagName="FineLotto"></TagDisplay>
<TagDisplay TagName="cammello"></TagDisplay>
<TagDisplay TagName="Contapezzi"></TagDisplay>

<div class="container">
    <TagDisplay_Boolean TagName="FineLotto" />
    @*<TagDisplay_Boolean TagName="Contapezzi" />
        <TagDisplay_Boolean TagName="Contapezzi" />
        <TagDisplay_Boolean TagName="Contapezzi" />
        <TagDisplay_Boolean TagName="Contapezzi" />*@
</div>
<OPCConnectionStatus />
<button class="btn btn-success">ciao</button>
<OpcuaSessionControlelr/>





