@page "/TagsRowList"
@inject LMOpcuaConnector.Model.OPCUAClient opc

@foreach (var tag in opc.ListOfTags.Tags)
{
    <div class="mt-2">
        <TagDisplay TagName="@tag.Name"></TagDisplay>
    </div>
    
}





